<html lang="en" ng-app="brkPokerApp">
    <head>
        <meta charset="utf-8">

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="css/main.css" rel="stylesheet"/>

    </head>
    <body ng-controller="MainController">
        
        <div id="bootloader" class="site-wrapper" style="background: url('img/loader.gif') no-repeat center">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class="inner cover">

                        <div class="row">
                            
                            
                        </div>

                    </div>

                </div>

            </div>

        </div>
        
        
        
        <header id="header" class="navbar navbar-inverse navbar-default navbar-fixed-top" style="visibility: hidden" ng-show="is_connected && (is_playing || is_watching)">
            <div class="navbar-inner">
                <div class="container">



                    <nav role="navigation">



                        <ul class="nav navbar-nav">
                            <a href="#top" role="button" class="navbar-brand">
                                BRK Poker
                            </a>

                        </ul>
                        <form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    
    <input id="input_name" type="text" class="form-control input-sm " placeholder="Name" ng-model="name">
  </div>
  <button type="button" class="btn btn-default btn-success btn-sm" ng-show="false">Buy In</button>
  <button type="button" class="btn btn-default btn-success btn-sm"  ng-show="is_playing">Stand Up</button>
                        <button type="button" class="btn btn-default btn-success btn-sm"  ng-show="false">Lobby</button>
</form>

                        <p class="navbar-text navbar-right">
                            <span class="badge">Chips: <span id="cash" ng-bind="cash|number"></span></span>
                            <span class="badge">Table: {{table}}</span>
                            <span class="badge">Min/Max: {{min|number}}/{{max|number}}</span>
                            <span class="badge">Small/Big: {{small|number}}/{{big|number}}</span>

                        </p>

                    </nav>
                </div>
            </div>
        </header>

        <div id="content" ng-show="is_connected && (is_playing || is_watching)" style="visibility: hidden">
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class="inner cover">

                        <div class="row">
                            
                            <player-panel player="players[8]" sit="sit(8)"></player-panel>
                            <player-panel player="players[9]" sit="sit(9)"></player-panel>
                            <player-panel player="players[1]" sit="sit(1)"></player-panel>
                            <player-panel player="players[2]" sit="sit(2)"></player-panel>
                            
                        </div>
                        <div id="board_panel" class="row">

                            <div class="col-md-2 col-md-offset-3">

                                <div class="input-group">
                                    <span class="input-group-addon">Bet</span>
                                    <input type="text" class="form-control text-right" readonly ng-model="bet">
                                </div>
                                <br/>
                                <div class="input-group">
                                    <span class="input-group-addon">Pot</span>

                                    <input type="text" class="form-control text-right" readonly ng-model="pot">
                                </div>



                            </div>

                            <div id="community_cards" class="col-md-5 col-md-offset-0">
                                <span ng-repeat="card in community_cards track by $index">
                                    <card-image ng-card="card"></card-image>
                                </span>
                            </div>
                            
                            
                        </div>
                       
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div id="message" class="alert" role="alert">{{message}}</div>
                            </div>
                        </div>
                      
                        <div class="row">
                            
                            <player-panel player="players[7]" sit="sit(7)"></player-panel>
                            <player-panel player="players[6]" sit="sit(6)"></player-panel>
                            <player-panel player="players[5]" sit="sit(5)"></player-panel>
                            <player-panel player="players[4]" sit="sit(4)"></player-panel>
                            <player-panel player="players[3]" sit="sit(3)"></player-panel>
                            
                        </div>

                    </div>

                </div>

            </div>

        </div>
            </div>


        <nav id="footer" class="navbar navbar-fixed-bottom" role="navigation" ng-show="is_connected && (is_playing || is_watching)" style="visibility: hidden">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                    <div id="action_log_container">
                    <div id="action_log_bg"></div>
                    <div id="action_log_content" class="well well-sm">
<small>
                    <p ng-repeat="log in action_logs track by $index">
                        {{log}}
                    </p>
                    

</small>
<a id="log_bottom"></a>
    </div>
                    </div>
                    </div>
                    <div class="col-md-8 text-center">
                        
                        <div class="action_buttons" class="row" ng-show="is_action">
                            <div id="slider">
<!--                                <slider floor="20" ng-model-low="slider_min" ng-model-max="slider_max" step="50" precision="0" ng-model="bet_amount"></slider>-->
                            </div>
                            
                            <button class="btn btn-warning" ng-click="act('All-in')" ng-show="isActionAllowed('All-in')">All-in</button>
                        </div>
                        <div class="action_buttons" class="row" ng-show="is_action">
                            <form class="form-inline" role="form">
                                
                                <div class="input-group" ng-show="isActionAllowed('Raise')">
                                    <input id="raise_amount" type="text" class="form-control" ng-model="bet_amount">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" ng-click="act('Raise')">Raise</button>
                                    </span>
                                </div>
                                
                                <div class="input-group" ng-show="isActionAllowed('Bet')">
                                    <input id="raise_amount" type="text" class="form-control" ng-model="bet_amount">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" ng-click="act('Bet')" ng-show="isActionAllowed('Bet')">Bet</button>
                                    </span>
                                </div>

                            <button class="btn btn-info" ng-click="act('Check')" ng-show="isActionAllowed('Check')">Check</button>
                            <button class="btn btn-info" ng-click="act('Call')" ng-show="isActionAllowed('Call')">Call</button>

                            <button class="btn btn-danger" ng-click="act('Fold')" ng-show="isActionAllowed('Fold')">Fold</button>
                            </form>
                            
                        </div>
                    </div>
                    <div class="col-md-2">
                    
                        <div id="chat_container" ng-show="is_playing">
                            <div id="chat_bg"></div>
                            <div id="chat_content" class="well well-sm">
        <small>
                            <p ng-repeat="chat_msg in chat_messages track by $index">
                                <strong>{{chat_msg[0]}}</strong>: {{chat_msg[1]}}
                            </p>


        </small>
            </div>
                            <form class="form-inline" role="form">
                                <div class="input-group">
                                    <input id="raise_amount" type="text" class="form-control" ng-model="chat_line">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" ng-click="newmsg()">Send</button>
                                    </span>
                                </div>
                                
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </nav>
        
        
<!--        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>-->
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-sanitize.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bower-angular-translate/2.0.1/angular-translate.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.js"></script>
        <!--<script src="//cdn.rawgit.com/angular-ui/ui-slider/v0.0.2/src/slider.js"></script>-->
        <script src="//cdn.rawgit.com/m-e-conroy/angular-dialog-service/v5.1.1/dialogs.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
        <script src="//cdn.rawgit.com/btford/angular-socket-io/v0.6.0/socket.js"></script>
        <script src="//cdn.rawgit.com/durated/angular-scroll/v0.6.1/angular-scroll.js"></script>
        
        <script src="js/app.js"></script>
    </body>
</html>